<carteira>

    <div class="container">

    <h1> Carteira</h1>
    <h1> Carteira</h1>
        <div class="row">
            <div class="col-md-5">
                <form>
                    <div class="form-group">
                        <label>Saldo</label>
                        <input type="number" id ="saldo"  class="form-control" placeholder="saldo"/>
                    </div>
                    
                    <button type="button"  class="btn btn-success" onclick={cadastrar} >Cadastrar</button>
                </form>
            </div>

        </div>
    </div>


   <script>
   
   cadastrar (e){
    var axios = require('axios');
    var i;
    var  valor  = parseInt(document.getElementById('saldo').value);
    var valor2 = parseInt(localStorage.getItem("valor"));
    localStorage.setItem("valoratual",valor2.toString());
    var valorf = (valor+valor2);
    var valorf2 =  valorf.toString(); 


axios.get('https://ifinancia.herokuapp.com/carteira/'+ localStorage.getItem("idusuario")).then(function(response){


    
           var i = response.data.length;
           
           localStorage.setItem("valor",response.data[i-1]['saldo']);
            console.log("chablau");

      
}); 


  
            




       axios.post('https://ifinancia.herokuapp.com/carteira/contas',{
      "nameConta": "conta",
      "tipodaconta": "teste",
      "saldo": valorf2,
      "cadastro":localStorage.getItem("idusuario")
    })
         .then(function(response){
           alert("Cadastro efetuado");
           localStorage.setItem("ref","0");
           localStorage.setItem("valor","carreg...");
           window.location.href = "#/visaogeral";
           
       });

       
   
   }
   

   
   </script>

</carteira>

