<grafico>




<style>

#chart{

width= 20px ;
height=20px;


}

</style>

<br>
<br>

    <div>
        <div id="localChart"  width="400" height="400"></div>


    </div>
   <button type="submit" class="btn btn-success" data-dismiss="modal" onclick={img}>gerarPDF</button>
   <button type="submit" class="btn btn-success" data-dismiss="modal" onclick={voltar}>voltar</button>

    <script>



   var axios = require('axios');
   axios.get('https://ifinancia.herokuapp.com/lancamento/receitas/'+localStorage.getItem("idusuario")).then(function(response){
    
      var valores = response.data; 
      localStorage.setItem("lanca", JSON.stringify(valores.lancamento));
      
      
}); 



                        


var dados = JSON.parse(localStorage.getItem("lanca"));
var ali = 0;
var sau = 0;
var des = 0;
var edu = 0;
var laz = 0;
var out = 0;
    for(var i in dados){
        if(dados[i]['categoria']== "Alimentação"){
            ali = ali + parseInt(dados[i]['valor']);

        }else if(dados[i]['categoria']== "Saude"){
            sau = sau + parseInt(dados[i]['valor']);

        }else if(dados[i]['categoria']== "Despesas_pessoais"){
            des = des + parseInt(dados[i]['valor']);

        }else if(dados[i]['categoria']== "Educação"){
            edu = edu + parseInt(dados[i]['valor']);

        }else if(dados[i]['categoria']== "lazer"){
             laz = laz + parseInt(dados[i]['valor']);
        }else if(dados[i]['categoria']== "outros"){
             out = out + parseInt(dados[i]['valor']);

        }
    }
console.log(ali);

    
        window.onload = function () {
            $("#chart").remove();
            $("#localChart").append("<canvas id='chart' >")
            var myChart = new Chart(document.getElementById("chart"), {
                type: 'bar',
                data: {
                    labels: ["Alimentação", "Saude", "Despesas_pessoais", "Educação", "lazer", "outros"],
                    datasets: [{
                        label: '# qtd em valor',
                        data: [ali, sau, des, edu, laz, out],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }




 img(e){
     console.log("chablau");
     var jsPDF = require('jspdf');
     var html2canvas = require('html2canvas');


     html2canvas(document.querySelector("#chart")).then(canvas => {
            document.body.appendChild(canvas);
            var imgData = canvas.toDataURL('image/png');
             var pdf = new jsPDF('p', 'pt','a4',true);
          pdf.addImage(imgData,'PNG', 50, 120, 485, 270,'','FAST');
          pdf.save('grafico.pdf');
});
     
 }


voltar(e){



window.location.href = "#/lancamento";
}


    </script>

</grafico>