<home>
    <style> 
  
        .header-site{
          background-image: url(imgs/imagec5.jpg);
          background-position:center top;
          background-repeat:no-repeat;
          background-size:cover;
          background-attachment: fixed;
          color: #000;
          padding-top:300px;
          padding-bottom: 300px;
          margin-top:-30px;
    
        }
    
        .content-site{
          padding-top: 200px;
          padding-bottom: 200px;
         
    
        }
    
        
        .img-site{
          background-image: url(imgs/imagec4.jpg);
          background-position: center top;
          background-repeat: no-repeat;
          background-size: cover;
          background-attachment: fixed;
          padding-top: 200px;
          padding-bottom: 200px;
          color: #000;
    
        }
      
        .footer-site{
          background-color:#3333;
          color: #000;
          padding-top:250px;
          padding-bottom:250px;
    
        }
        .img-thumbnail{
          margin-left:35px;
    
        }
        
      </style>
      <H1>{opts.valor}</H1>
    
      <marquee>{opts.valor}</marquee>

      <div id="localChart"></div>    
        
      <section class="header-site">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="text-center">Suas contas, descomplicadas </h1>
              <p class="lead text-center">Use o ifinancia</p>
            </div>
          </div>
        </div>
      </section>
    
      <section class="content-site">
        <div class="container">
            <div class="row">
              <div class="col-12">
                <h1 class="text-center">Saiba para onde vai o seu dinheiro</h1>
                <p class="text-center">Com o ifinancia, você categoriza todos os seus
                lançamentos. Com gráficos simples, você sabe de onde vem e para onde vai o seu dinheiro.</p>
                <br>
           </div>
          </div>
            
          <div class="row">
    
             <!--albuns-->
            <div class="col-sm-12">
              <div class="row">
    
                <div class="col-sm-4">
                  <img src="imgs/imagemc.jpg" class="img-thumbnail">
                  <div class="text-center">
                    <h3>Pare de pagar
                    juros e economize</h3>
                    <p>Manter as contas em dia é sempre um
                    problema? O Ifinancia avisa você: receba
                    alertas de contas a pagar e a receber!</p>
                  </div>
                </div>
    
                <div class="col-md-4">
                  <img src="imgs/imagec1.jpg" class="img-thumbnail">
                  <div class="text-center">
                    <h3>Planeje seu futuro e
                    realize seus sonhos</h3>
                    <p>Com o recurso Metas, você tem em mãos, uma
                    fabulosa ferramenta que pode te ajudar a atingir
                    seus objetivos e a realizar seus sonhos.</p>
                  </div>
               </div>
               
                <div class="col-sm-4">
                  <img src="imgs/imagec6.jpg" class="img-thumbnail">
                  <div class="text-center">
                    <h3>Economize seu tempo</h3>
                    <p>Tempo é dinheiro! Em segundos, você tem tudo sob
                    controle e aproveite seu tempo com o que realmente importa pra você!</p>
                  </div>
               </div>
               
    
    
              </div><!--row-->
            </div> 
          </div>   
        </div>  
      </section>
    
      <section class="img-site">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="text-center">Fácil de usar</h1>
              <p class="text-center">O Ifinancia vai além do básico e permite que você faça controles incríveis, 
              essenciais para suas finanças. Simples como tem que ser!</p>
            </div>
          </div>
        </div>
      
      </section>



     

</home>