<visaogeral>

<script type="text/javascript">



if(localStorage.getItem("ref") == "0"){
setTimeout(function() {
  window.location.reload(1);
}, 5000); // 3 minutos
localStorage.setItem("ref","1");
}
    var valida = 0;

    
   
    console.log(localStorage.getItem("idusuario"));
    opts.conta = localStorage.getItem("conta");
    opts.email = localStorage.getItem("emailusuario");
    opts.nome = localStorage.getItem("nomeusuario");
    opts.valor2 = localStorage.getItem("valores");
    opts.metas = localStorage.getItem("metas");
    opts.divida = JSON.parse(localStorage.getItem("divida"));
    opts.dividas2 = JSON.parse(localStorage.getItem("dividas"));
    var axios = require('axios');


    
    axios.get('https://ifinancia.herokuapp.com/lancamento/receitas/'+ localStorage.getItem("idusuario")).then(function(response){
    
      var valores = response.data; 
      localStorage.setItem("valores", JSON.stringify(valores.lancamento));
      
      
}); 

axios.get('https://ifinancia.herokuapp.com/metas/list/'+ localStorage.getItem("idusuario")).then(function(response){
    
      var valores = response.data;
      
      localStorage.setItem("metas", JSON.stringify(valores.metas));
      
      
}); 

var dadosS = localStorage.getItem("metas");


var d = $.parseJSON(dadosS);

var obj = {};
var date;
var j=0;
var novaData = new Date();
for(var i in d){
    var str = gamb(d[i]['data']);
    date = new Date(str.split('/').join('/'));
    if(date > novaData){
        obj[j] = d[i];
        j++;
    }
      
}

opts.metas = obj;

 


axios.get('https://ifinancia.herokuapp.com/metas/list/'+ localStorage.getItem("idusuario")).then(function(response){
    
      var valores = response.data;
      
      localStorage.setItem("metas", JSON.stringify(valores.metas));
      
      
}); 

var dadosS2 = localStorage.getItem("metas");


var d2 = $.parseJSON(dadosS);

var obj2 = {};
var date2;
var j2=0;
var novaData = new Date();
for(var i in d2){
    var str = gamb(d2[i]['data']);
    date2 = new Date(str.split('/').join('/'));
    if(date2 < novaData){
        obj2[j] = d2[i];
        j2++;
    }
      
}

opts.metas2 = obj2;




var valor = localStorage.getItem("valor");
var val = opts.valor2;
var metas = opts.metas;
opts.valor2 = JSON.parse(val);
opts.valor = valor;




axios.get('https://ifinancia.herokuapp.com/carteira/'+ localStorage.getItem("idusuario")).then(function(response){


    
           var i = response.data.length;
           
      
            localStorage.setItem("valor",response.data[i-1]['saldo']);
            console.log(localStorage.setItem("valor",response.data[i-1]['saldo']));
           
            

      
}); 



axios.get('https://ifinancia.herokuapp.com/lancamento/despesas/'+localStorage.getItem("idusuario")).then(function(response){
    
      var valores = response.data; 
            localStorage.setItem("divida", JSON.stringify(valores.lancamento));
     
     
      
      
}); 

 
var dados3 = localStorage.getItem("divida");
var dadosS3 = JSON.parse(dados3);

var j3 = 0;

var obj3 = {};
var date3;
var novaData3 = new Date();
for(var i in dadosS3){
    var str = gamb(dadosS3[i]['data']);
   
    date3 = new Date(str.split('/').join('/'));
    
    if(date3 > novaData3){
         obj3[j] = dadosS3[i];
        j3++;
    }
    
      
}
localStorage.setItem("divida",JSON.stringify(obj3));




axios.get('https://ifinancia.herokuapp.com/lancamento/despesas/'+localStorage.getItem("idusuario")).then(function(response){
    
      var valores = response.data; 
            localStorage.setItem("dividas", JSON.stringify(valores.lancamento));
     
     
      
      
}); 

 
var dados4 = localStorage.getItem("dividas");
var dadosS4 = JSON.parse(dados4);

var j4 = 0;

var obj4 = {};
var date4;
var novaData4 = new Date();
for(var i in dadosS4){
    var str = gamb(dadosS4[i]['data']);
   
    date4 = new Date(str.split('/').join('/'));
    
    if(date4 < novaData4){
         obj4[j] = dadosS4[i];
        j4++;
    }
    
      
}
opts.dividas2 = obj4;


   



function gamb(string){
        var s = '';
        var i = 0;
       while(string[i]!='T'){
           if(string[i]=='-'){
               s = s + '/';
           }else{
            s = s+string[i];
           }
          
           i++;
       }
    return s;

    }





</script> 
    <style>



        .link2{ cursor:pointer;color:black; text-decoration:none; display:block;font-size: 20px;text-align: center}
        marquee {
            color: green;
            font-size: 50px;
        }

        .marg{
            margin-top:20px;
            margin-left:20px;
            height:200px;

        }

        .fundo{
         
            background-color:rgba(31, 5, 5, 0.068);
            

        }

        #valor{
            background-color:#32CD32;
            color:#fff;

        }

        #convidar{
            background-color:#A52A2A;
            color:#fff;

        }
        .conteudo{
            background-color:#fff;
            
        }
    </style>

    <h1>ola</h1>
    
    



        

        <div class="container-fluid d-flex justify-content-center fundo">
            <div class="row d-flex justify-content-center">
                
                    <div class="col-4 marg" id="valor">
                            <div class="container">
                                <h5 class="mt-3">
                                   {opts.email}
                                </h5>
                            </div>
                           
                            <div class="text-center mt-5">
                                <h3>Valor:{opts.valor}</h3>
                                <a class  = "link2" href="#/carteira"> AdicionarDinheiro</a>
                            </div>
                        </div>
                
                <div class="col-4 marg" id="convidar">
                    <div class="container">
                        <h5 class="mt-3">
                           DividasVencidas
                        </h5>
                    </div>
                   
                    <div class="text-center mt-4">
                        <div style="width: 300px; height: 100px; overflow-y: scroll;">    
                            <div each = "{pedi in opts.dividas2}">
                            <span >Descriçao:{pedi.description}</span> &ensp;
                            <span >Valor:{pedi.valor}</span><br>
                            ____________________________________
                            </div>
                        </div>
                        <a class = "link2" href="#/lancamento"> VerMais</a>
                    </div>
                </div>

                
                
                <div class="col-4 marg conteudo">
                   <div class="container">
                        <h5 class="mt-3">
                            Lancamentos
                        </h5>
                    </div>
                   
                    <div  class="text-center mt-4">

                       <div style="width: 300px; height: 100px; overflow-y: scroll;">    
                            <div each = "{ped in opts.valor2}">
                            <span class = "textospan" >Descriçao:{ped.description}</span>  &ensp;
                            <span  class = "textospan">Valor:{ped.valor}</span> <br>
                                ____________________________________
                            </div>
                        </div>

                        <a class = "link2" href="#/lancamento"> VerMais</a>
                         <a href="#/lancamento"></a>
                    </div>
                </div>

                <div class="col-4 marg conteudo">
                    <div class="container">
                        <h5 class="mt-3">
                        
                            Dividas
                        </h5>
                    </div>
                   
                    <div class="text-center mt-4">
                        <div style="width: 300px; height: 100px; overflow-y: scroll;">    
                            <div each = "{pedi in opts.divida}">
                            <span >Descriçao:{pedi.description}</span> &ensp;
                            <span >Valor:{pedi.valor}</span><br>
                            ____________________________________
                            </div>
                        </div>
                        <a class = "link2" href="#/lancamento"> VerMais</a>
                    </div>
                </div>
                
                <div class="col-4 marg conteudo">
                    <div class="container">
                        <h5 class="mt-3">
                            Metas
                        </h5>
                    </div>
                   
                        <div class="text-center mt-4">
                        <div style="width: 300px; height: 100px; overflow-y: scroll;">    
                            <div each = "{pedi in opts.metas}">
                            <span >Descriçao:{pedi.description}</span> &ensp;
                            <span >Valor:{pedi.valor}</span><br>
                            ____________________________________
                            </div>
                        </div>
                        <a class = "link2" href="#/lancamento"> VerMais</a>
                    </div>
                
                    


                </div>

                <div class="col-4 marg conteudo">
                    <div class="container">
                        <h5 class="mt-3">
                            MetasV 
                        </h5>
                    </div>
                   

                    <div class="text-center mt-4">
                        <div style="width: 300px; height: 100px; overflow-y: scroll;">    
                            <div each = "{pedi in opts.metas2}">
                            <span >Descriçao:{pedi.description}</span> &ensp;
                            <span >Valor:{pedi.valor}</span><br>
                            ____________________________________
                            </div>
                        </div>
                        <a class = "link2" href="#/lancamento"> VerMais</a>
                    </div>
                </div>
                
                


       
    
</visaogeral>